* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Variavel */
  --default-background: #fcfcfc;
  --default-width: min(75rem, 95vw);
  --default-height-header: 5rem;

  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* Box-model */
  height: 100vh;
  background: var(--default-background);

  /* Tipografia */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  /* Tipografia */
  text-decoration: none;
  color: #000;
}

.main-produtos {
  margin-top: var(--default-height-header);
  width: var(--default-width);

  padding: 2rem 0.5rem;
  flex: 1;
  /* background-color: rebeccapurple; */
  /* overflow-x: hidden; */
}

.titulo-produtos h1 {
  font-weight: normal;
  font-style: italic;
  font-size: 1.2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card-prod-img {
  background-color: var(--cor);
  width: 80%;
}

.card-prod-titulo {
  padding: 0 0.2rem;
  font-size: 1rem;
  color: #6b6b6b;
}

.card-prod-preco {
  padding: 0 0.2rem;
  font-size: 0.8rem;
  color: #2e2e2e;
  font-style: italic;
}
